.main-nav {
  position: relative;
}

.main-nav__list {
  position: relative;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__wrapper {
  margin: 20px auto;
}

.main-nav__link {
  display: block;
  color: @white;
  font-size: 18px;
  font-weight: bold;
  height: 56px;
  padding: 9px;
  line-height: 40px;
  background: @blue;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__link:hover {
  background: @extrablue;
}

.main-nav__link:active {
  background: @basicblue;
  color: rgba(@white, 0.3);
}

.main-nav__toggle {
  position: absolute;
  height: 22px;
  width: 23px;
  bottom: -39px;
  right: 20px;
  background: none;
  background-image: url("../img/icon-menu.svg");
  border: 0;
  cursor: pointer;
}

.main-nav__close {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 13px;
  right: 20px;
  z-index: 1;
  background: none;
  background-image: url("../img/icon-x.svg");
  border: 0;
  cursor: pointer;
}

.main-nav__toggle:hover {
  opacity: 0.6;
}

.main-nav__toggle:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__close {
    display: none;
  }

  .main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 6px;
  }

  .main-nav__item {
    width: 153px;

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .main-nav__link {
    color: @black;
    background: none;
    font-size: 14px;
    line-height: 26px;
  }

  .main-nav__link:hover {
    color: @extrablue;
    background: none;
  }

  .main-nav__link:active {
    color: rgba(@black, 0.3);
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item {
    width: 239px;

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}
