.page {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  text-transform: uppercase;
}

.page__body {
  background-color: @white;
  color: @black;
  margin: 0;
}
