.page-header {
  height: 56px;
  background: @white;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  height: 84px;
  transform: translateX(-50%);
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @white;
  }
}
