.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  text-transform: uppercase;
  background-color: @white;
  color: @black;
  margin: 0;
}

.page-header__logo {
  position: absolute;
  height: 84px;
}
