.photo {
  background-color: @white;
  margin-bottom: 31px;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo__image {
  position: relative;
  height: 158px;
  background-color: @extrablue;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 32px;
}

.photo__sedona {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo__item {
  margin-bottom: 21px;
  border-bottom: 2px solid @extraspace;
}

.photo__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}

.photo__text {
  line-height: 24px;
  color: @space;
  text-align: center;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 54px;
}

.photo__alibaba {
  padding-bottom: 18px;
}

.photo__intro {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}

.photo__description {
  padding: 0 20px;
}

.photo__bloknot {
  display: flex;
  padding: 0 20px;
}

.photo__article {
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 14px;
  text-transform: none;
  color: @space;
}

.photo__number {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
}

.photo__img {
  object-fit: cover;
  width: 100%;
  height: 280px;
  padding: 0 20px;
}

.photo__button {
  display: block;
  height: 21px;
  width: 23px;
  top: 0;
  left: 0;
  margin-right: 14px;
  background: none;
  background-image: url("../img/like-icon.svg");
  border: 0;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    margin-bottom: 59px;
  }

  .photo__item {
    margin: 0;
    border-bottom: none;
  }

  .photo__image {
    height: 290px;
    margin-bottom: 63px;
  }

  .photo__img {
    display: block;
    padding: 0;
    height: 267px;
    width: 100%;
  }

  .photo__title {
    margin: 0;
    font-size: 30px;
    margin-bottom: 34px;
  }

  .photo__text {
    margin-bottom: 78px;
    padding: 0 165px;
  }

  .photo__item--small {
    width: 50%;
  }

  .photo__item--big {
    width: 100%;
  }

  .photo__img--first {
    height: 400px;
  }

  .photo__block {
    width: 50%;
  }

  .photo__alibaba {
    background-color: @basicspace;
    display: flex;
    justify-content: space-between;
  }

  .photo__bloknot {
    display: flex;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .photo__list {
    padding: 0;
    margin-bottom: 61px;
  }

  .photo__image {
    height: 302px;
    margin-bottom: 99px;
  }

  .photo__text {
    margin-bottom: 79px;
    padding: 0 378px;
  }

  .photo__item {
    position: relative;
    color: @white;
  }

  .photo__item--small {
    width: 33.33%;
  }

  .photo__alibaba {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(@black, 0.3);
  }
}
