.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search__article {
  line-height: 24px;
  color: @space;
}

.search__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  height: 58px;
  padding: 32 px 0 32px 0;
  line-height: 26px;
  color: @white;
  width: 280px;
  background: @blue;
  border: none;
  text-transform: uppercase;
}

.search__button:hover {
  background-color: @extrablue;
}

.search__button:active {
  background-color: @basicblue;
  color: rgba(@white, 0.3);
}

.search__button:disabled {
  background-color: @basicwhite;
}
