.video {
  background: @white;
  margin-bottom: 58px;
}

.video__player {
  position: relative;
  width: 100%;
}

.video__tresh {
  width: 100%;
  padding: 0 20px;
}

.video__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
}

.video__text {
  line-height: 24px;
  color: @space;
  text-align: center;
  padding: 0 24px;
  margin-bottom: 34px;
}

.video__button--replay {
  position: absolute;
  left: 45px;
  bottom: 23px;
  display: block;
  height: 20px;
  width: 16px;
  background-image: url("../img/replay.svg");
  border: 0;
  cursor: pointer;
}

.video__button--subtitles {
  position: absolute;
  right: 94px;
  bottom: 22px;
  display: block;
  height: 20px;
  width: 32px;
  background-image: url("../img/subtitles.svg");
  border: 0;
  cursor: pointer;
}

.video__button--fullscreen {
  position: absolute;
  right: 43px;
  bottom: 22px;
  display: block;
  height: 20px;
  width: 20px;
  background-image: url("../img/fullscreen.svg");
  border: 0;
  cursor: pointer;
}

.video__controls {
  position: relative;
  height: 45px;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 23px;
  background-color: rgba(@black, 0.3);
  margin-top: -54px;
}

.video__navigation {
  display: flex;
  height: 66px;

  padding: 20px;
  background-color: @basicspace;
}

.video__scale {
  position: relative;
  height: 3px;
  background-color: @mediumwhite;
}

.video__toggle {
  width: 10px;
  position: absolute;
  top: -4px;
  left: 35px;
  height: 10px;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .video {
    padding: 0 60px;
    margin: 0;
  }

  .video__player {
    height: 500px;
  }

  .video__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 28px;
  }

  .video__text {
    margin: 0;
    margin-bottom: 82px;
    padding: 0 94px;
  }

  .video__tresh {
    position: absolute;
    width: 100%;
    height: 93px;
    padding: 0;
    left: 0;
    bottom: 0;
  }

  .video__photo {
    width: 100%;
    display: block;
  }

  .video__controls {
    margin-top: 0;
    width: 100%;
    padding-right: 166px;
    padding-left: 93px;
    height: 93px;
  }

  .video__navigation {
    position: absolute;
    width: 100%;
    height: 93px;
    bottom: 0;
    left: 0;
    background-color: rgba(@black, 0.3);
  }

  .video__button--replay {
    position: absolute;
    display: block;
    height: 20px;
    width: 16px;
    background: none;
    background-image: url("../img/replay.svg");
    border: 0;
    cursor: pointer;
  }

  .video__button--subtitles {
    position: absolute;
    display: block;
    height: 20px;
    width: 32px;
    right: 60px;
    background: none;
    background-image: url("../img/subtitles.svg");
    border: 0;
    cursor: pointer;
  }

  .video__button--fullscreen {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    right: 20px;
    background: none;
    background-image: url("../img/fullscreen.svg");
    border: 0;
    cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 0 200px;
  }

  .video__controls {
    padding-right: 167px;
    padding-left: 93px;
  }
}
