.video {
  background: @white;
  margin-bottom: 58px;
}

.video__player {
  position: relative;
  width: 100%;
}

.video__photo {
  width: 100%;
}

.video__box {
  width: 100%;
  padding: 0 20px;
}

.video__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
}

.video__text {
  line-height: 24px;
  color: @space;
  text-align: center;
  padding: 0 24px;
  margin-bottom: 34px;
}

.video__button--replay {
  position: absolute;
  left: 45px;
  bottom: 23px;
  display: block;
  height: 20px;
  width: 16px;
  background-image: url("../img/replay-mobile.svg");
  border: 0;
  cursor: pointer;
}

.video__button--subtitles {
  position: absolute;
  right: 94px;
  bottom: 22px;
  display: block;
  height: 20px;
  width: 32px;
  background-image: url("../img/subtitles-mobile.svg");
  border: 0;
  cursor: pointer;
}

.video__button--fullscreen {
  position: absolute;
  right: 43px;
  bottom: 22px;
  display: block;
  height: 20px;
  width: 20px;
  background-image: url("../img/fullscreen-mobile.svg");
  border: 0;
  cursor: pointer;
}

.video__button--replay:hover {
  background-image: url("../img/replay-mobile-hover.svg");
}

.video__button--subtitles:hover {
  background-image: url("../img/subtitles-mobile-hover.svg");
}

.video__button--fullscreen:hover {
  background-image: url("../img/fullscreen-mobile-hover.svg");
}

.video__button--replay:active {
  background-image: url("../img/replay-mobile-active.svg");
}

.video__button--subtitles:active {
  background-image: url("../img/subtitles-mobile-active.svg");
}

.video__button--fullscreen:active {
  background-image: url("../img/fullscreen-mobile-active.svg");
}

.video__controls {
  position: relative;
  height: 45px;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 23px;
  background-color: rgba(@black, 0.3);
  margin-top: -54px;
}

.video__navigation {
  display: flex;
  height: 66px;

  padding: 20px;
  background-color: @basicspace;
}

.video__scale {
  position: relative;
  height: 3px;
  background-color: @mediumwhite;
}

.video__toggle {
  width: 10px;
  position: absolute;
  top: -4px;
  left: 35px;
  height: 10px;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .video {
    padding: 0 60px;
    margin: 0;
    margin-bottom: 40px;
  }

  .video__player {
    height: 500px;
  }

  .video__title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 33px;
  }

  .video__text {
    margin: 0;
    margin-bottom: 80px;
    padding: 0 94px;
  }

  .video__box {
    position: absolute;
    width: 100%;
    height: 93px;
    padding: 0;
    left: 0;
    bottom: 0;
  }

  .video__photo {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .video__controls {
    margin-top: 0;
    width: 100%;
    padding-right: 166px;
    padding-left: 93px;
    height: 93px;
  }

  .video__scale {
    margin-top: 23px;
  }

  .video__toggle {
    left: 111px;
  }

  .video__navigation {
    position: absolute;
    width: 100%;
    height: 93px;
    bottom: 0;
    left: 0;
    background-color: rgba(@black, 0.3);
  }

  .video__button--replay {
    left: 35px;
    bottom: 36px;
    background: none;
    background-image: url("../img/replay-white.svg");
  }

  .video__button--subtitles {
    bottom: 36px;
    right: 92px;
    background: none;
    background-image: url("../img/subtitles-white.svg");
  }

  .video__button--fullscreen {
    right: 41px;
    bottom: 37px;
    background: none;
    background-image: url("../img/fullscreen-white.svg");
  }

  .video__button--replay:hover {
    opacity: 0.6;
  }

  .video__button--subtitles:hover {
    opacity: 0.6;
  }

  .video__button--fullscreen:hover {
    opacity: 0.6;
  }

  .video__button--replay:active {
    opacity: 0.3;
  }

  .video__button--subtitles:active {
    opacity: 0.3;
  }

  .video__button--fullscreen:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 0 200px;
    margin-bottom: 84px;
  }

  .video__title {
    margin-bottom: 34px;
  }

  .video__text {
    padding: 0 170px;
    margin-bottom: 77px;
  }

  .video__controls {
    padding-right: 167px;
    padding-left: 93px;
  }
}
