@white: #ffffff;
@blue: #81b3d2;
@extrawhite: #eeeeee;
@extra-basicwhite: #d6d6d6;
@mediumwhite: #d7d7d7;
@black: #000000;
@space: #333333;
@mediumspace: #616161;
@extraspace: #e5e5e5;
@basicspace: #f2f2f2;
@extrablue: #669ec0;
@basicblue: #5496bd;
@basicwhite: #e5e5e5;
@basic-ultra-white:#d5d5d5;
@basic-ultra-space:#DBDBDB;
@basic-rgba-black: rgba(0, 0, 0, 0.25);
@basic_rgba-space-black: rgba(0, 1, 1, 0.15);
@extra-rgba-space:rgba(255, 255, 255, 0.2);
@extra-rgba-black:rgba(1, 1, 1, 0.2);
// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
